<app-navbar></app-navbar>
<!-- login page -->
<div class="container p-lg-5 p-2">
  <div class="login d-flex justify-content-center align-items-center flex-column p-5">
    <h1 class="mb-5">Login</h1>
    <form>
      <div class="form-group mb-3">
        <label for="email"><i class="bi bi-envelope-at"></i></label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          id="email"
          placeholder="email"
        />
      </div>
      <div class="form-group mb-3">
        <label for="password"><i class="bi bi-key"></i></label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          id="password"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn btn-dark mb-3">Submit</button>
    </form>
  </div>
</div>
