<div class="d-flex" style="height: 100vh">
  <app-navbar></app-navbar>
  <div class="d-flex flex-column" style="overflow: auto; width: 100%">
    <div class="container p-lg-5 p-2">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Liste des Etudiants</h1>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#studentModal"
        >
          Ajouter un étudiant
        </button>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Rechercher un étudiant"
            aria-label="Rechercher un étudiant"
            aria-describedby="button-addon2"
            (change)="handleSearch($event)"
            onchange="console.log('change')"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon2"
          >
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
      <div
        class="étudiants d-flex justify-content-center align-items-center"
      >
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th *ngFor="let column of displayedColumns">{{ column }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of studentsList">
              <td>{{ student.studentId }}</td>
              <td>{{ student.firstName }}</td>
              <td>{{ student.lastName }}</td>
              <td>{{ student.email }}</td>
              <td>{{ student.gender }}</td>
              <td>{{ student.dateOfBirth }}</td>
              <td>{{ student.address }}</td>
              <td>{{ student.city }}</td>
              <td>{{ student.postalCode }}</td>
              <td>{{ student.phoneNumber }}</td>
              <td>{{ student.promo }}</td>
              <td>{{ student.promoNumber }}</td>
              <td>{{ student.mention }}</td>
              <td>
                <div class="d-flex justify-content-around">
                  <a
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#studentModal"
                    (click)="handleUpdateStudent(student)"
                  >
                    <i class="bi bi-pencil-square text-primary"></i>
                  </a>
                  <a type="button" (click)="deleteStudent(student.studentId)">
                    <i class="bi bi-trash text-danger"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="studentModal"
  tabindex="-1"
  aria-labelledby="studentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-white">
        <h5 class="modal-title" id="studentModalLabel">
          {{ editMode ? "Modifier un étudiant" : "Ajouter un étudiant" }}
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="studentForm" (ngSubmit)="handleStudentForm()">
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="form-group mb-3">
                <label for="firstName">Prénom</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Prénom"
                  formControlName="firstName"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="lastName">Nom</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  placeholder="Nom"
                  formControlName="lastName"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                  formControlName="email"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="gender">Sexe</label>
                <select
                  class="form-select"
                  id="gender"
                  formControlName="gender"
                  required
                >
                  <option value="" disabled selected>
                    --Choisir un sexe--
                  </option>
                  <option value="M">Masculin</option>
                  <option value="F">Féminin</option>
                </select>
              </div>
              <div class="form-group mb-3">
                <label for="dateOfBirth">Date de naissance</label>
                <input
                  type="date"
                  class="form-control"
                  id="dateOfBirth"
                  placeholder="date de naissance"
                  formControlName="dateOfBirth"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="mention">Mention</label>
                <select
                  class="form-select"
                  id="mention"
                  formControlName="mention"
                >
                  <option value="" selected>--Choisir une mention--</option>
                  <option value="Passable">Passable</option>
                  <option value="Assez bien">Assez bien</option>
                  <option value="Bien">Bien</option>
                  <option value="Très bien">Très bien</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="form-group mb-3">
                <label for="address">Adresse</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="Adresse"
                  formControlName="address"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="city">Ville</label>
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  placeholder="Ville"
                  formControlName="city"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="postalCode">Code Postal</label>
                <input
                  type="number"
                  class="form-control"
                  id="postalCode"
                  placeholder="Code Postal"
                  formControlName="postalCode"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="phoneNumber">Téléphone de l'étudiant</label>
                <input
                  type="text"
                  class="form-control"
                  id="phoneNumber"
                  placeholder="téléphone de l'étudiant"
                  formControlName="phoneNumber"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="promo">Promo</label>
                <input
                  type="number"
                  class="form-control"
                  id="promo"
                  placeholder="Promo"
                  formControlName="promo"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="promoNumber">Numéro promo</label>
                <input
                  type="text"
                  class="form-control"
                  id="promoNumber"
                  placeholder="Numéro promo"
                  formControlName="promoNumber"
                  required
                />
              </div>
            </div>
          </div>
          <button
            *ngIf="!editMode"
            type="submit"
            class="btn btn-primary"
            [disabled]="!studentForm.valid"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Ajouter
          </button>
          <button
            *ngIf="editMode"
            type="submit"
            class="btn btn-primary"
            [disabled]="!studentForm.valid"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Modifier
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
